<h2><%= t('views.events.events') %></h2>

<% if policy(Event).create? %>
  <div class="buffer-both">
    <%= link_to t('views.events.new_event'), new_event_path, class: 'btn btn-warning' %>
  </div>
<% end %>

<div class="row buffer-bottom"  data-turbo="false">

  <%= render partial: 'events/event', collection: @events %>
  
</div>
