<span class="subscription">
    <div class="d-flex align-items-center justify-content-center">

      <% if subscription.user.present? %>
        <%= render partial: 'users/user', object: subscription.user %>
      <% else %>
        <em><%= subscription.user_name %></em>
      <% end %>

      <% if current_user_can_edit?(subscription) %>
        <%= button_to fa_icon('x-circle-fill'),
                  event_subscription_path(subscription.event, subscription),
                  form: {data: {turbo_confirm: t('views.subscriptions.subscription.destroy_confirm')}},
                  method: :delete,
                  aria_label: "Close",
                  class: 'btn'%>
      <% end %>
      
    </div>
  </span>
