  
  <div class="event-photo buffer-both">
    <%= link_to image_tag(photo.photo.variant(:thumb)), photo.photo.url %>

    <%= t('views.photos.downloader') %><%= render partial: 'users/user', object: photo.user %>
  </div>
